header {
    height: 100vh;
}

main {
    height: 100vh;
    background-color: rgb(36, 36, 36);
}

.container {
    display: flex;
    position: relative;
    min-height: 50%;
    padding: 25px 0; 
}

.card {
    max-width: 200px;
    min-height: 300px;
    background-color: darkblue;
    border-radius: 10px;
    margin: 20px;
    display: flex;
    position: relative;
}

.btn {
    position: absolute;
    justify-content: center;
    bottom: 10px;
    width: 90%;
    height: 40px;
    border: none;
    background-color: antiquewhite;
}

.btn--success {
    background-color: green;
}

.btn--decline {
    background-color: red;
}

.btn:hover {
    border: 1px solid black;
}